<%- include('partials/header', { title: "Profile" , user: user }) %>

    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            padding-top: 10px;
            min-height: 100vh;
            color: #fff;
        }

        header {
            box-sizing: border-box;
            padding: 0 20px;
            max-width: 100vw;
        }

        .nav {
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
        }

        .profile-container {
            margin-top: 10px;
            border-radius: 10px;
            background-color: rgba(3, 81, 91, 0.5);
            backdrop-filter: blur(2px);
            text-align: center;
            padding: 20px;
        }

        .profile-container img {
            border-radius: 50%;
            border: 3px solid #fff;
            margin-top: 10px;
        }

        .profile-container h2 {
            margin: 10px 0;
        }

        .profile-container p {
            margin: 5px 0;
        }

        .btn-container {
            margin-top: 20px;
        }

        .btn-container a,
        .btn-container button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            text-decoration: none;
            color: #fff;
            background-color: rgba(255, 255, 255, 0.2);
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn-container button:hover,
        .btn-container a:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }

        .posts {
            margin-top: 20px;
            border-radius: 10px;
            background-color: rgba(3, 81, 91, 0.5);
            backdrop-filter: blur(2px);
            text-align: center;
            padding: 20px;
        }

        /* Grid Layout for posts */
        .post-list {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 20px;
            list-style: none;
            padding: 20px;
        }

        .post-list li {
            background: rgba(170, 240, 253, 0.5);
            padding: 15px;
            border-radius: 10px;
            text-align: center;
        }

        .post-list img {
            display: block;
            margin: 10px auto;
            border-radius: 10px;
            width: 100%;
            max-width: 250px;
            height: auto;
        }

        .post-link {
            text-decoration: none;
            color: #ebedef;
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }
    </style>

    <div class="profile-container">
        <% if (user?.profilePicture && user?.profilePicture?.url) { %>
            <img src="<%= user.profilePicture.url %>" alt="Profile Picture" width="200" height="200" />
            <% } else { %>
                <img src="/images/default.png" alt="Default Profile Picture" width="200" height="200" />
                <% } %>

                    <h2>
                        <%= user.username %>
                    </h2>
                    <p>Email: <%= user.email %>
                    </p>
                    <p>Date Joined: <%= user.createdAt.toDateString() %>
                    </p>

                    <div class="btn-container">
                        <a href="/user/edit">Edit Profile</a>
                        <form action="/user/delete" method="POST" style="display:inline;">
                            <button type="submit">Delete Account</button>
                        </form>
                    </div>

                    <p>Number of posts: <%= postCount %>
                    </p>
    </div>
    <div class="posts">
        <% if (posts.length> 0) { %>
            <h2>Posts</h2>
            <ul class="post-list">
                <% posts.forEach((post)=> { %>
                    <li>
                        <a class="post-link" href="/posts/<%= post._id %>">
                            <%= post.title %>
                        </a>
                        <% if (post.images.length> 0) { %>
                            <img src="<%= post.images[0].url %>" alt="Post Image" />
                            <% } %>
                                <p>
                                    <%= post.content %>
                                </p>
                                <p>By: <%= post.author.username %>
                                </p>
                                <p>
                                    <%= post.createdAt.toDateString() %>
                                </p>
                    </li>
                    <% }) %>
            </ul>
            <% } else { %>
                <p>No posts yet</p>
                <% } %>
    </div>

    <%- include('partials/footer') %>